.conheca {
    margin-top: 2.6875rem;
    padding-bottom: 3.125rem;
}

.conheca__titulo {
    color: var(--cor-laranja);
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.conheca__produto-img {
    width: 100vw;
}

.conheca__produto-detalhe {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.conheca__produto-titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    color: var(--cor-branco);
    margin-bottom: 0.5rem;
}

.conheca__produto-subtitulo {
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    color: var(--cor-branco);
    margin-bottom: 0.5rem;
}

.conheca__produto-desc {
    color: var(--cor-laranja);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.conheca___produto__texto-destaque {
    color: var(--cor-branco);
    font-weight: 700;
}

.conheca__produto-lista {
    color: var(--cor-branco);
    list-style: disc;
    list-style-position: inside;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.conheca__produto-botao {
    border: 1px solid var(--cor-laranja);
    text-align: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--cor-branco);
}

@media (min-width: 769px) {
    .conheca {
        padding: 2rem;
        border: 1px solid var(--cor-laranja);
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    .conheca__produto {
        display: flex;
        margin-bottom: 2rem;
    }

    .conheca__produto-img {
        width: 50%;
        border-radius: 1rem;
        border: 2px solid var(--cor-branco);
    }

    .conheca__produto-detalhe {
        justify-content: space-between;
    }

    .conheca__titulo {
        font-size: 2rem;
        text-align: start;
        margin-bottom: 1rem;
    }

    .conheca__produto-botao {
        background-color: var(--cor-laranja);
        width: 33%;
    }
}