.rodape {
    background-color: var(--cor-marrom-escuro);
    color: var(--cor-branco);
    padding: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

.rodape__texto {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .rodape {
        border-top: 1px solid var(--cor-laranja);
    }
}